body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, div {
  color: white;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}